* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #000;

}

.timeline {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline::after {
    content: "";
    width: 6px;
    height: 100%;
    background-color: rgb(208, 209, 207);
    position: absolute;
    left: 50%;
    top: 0;
}

.boxes {
    width: 50%;
    padding: 10px 40px;
    position: relative;

}

.boxes::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #f6f6f6;
    border-radius: 3px;

    position: absolute;
    right: -13px;
    top: 20px;
    z-index: 10;
}

.content {
    background-color: #fff;
    padding: 20px 30px;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: "";
    width: 0;
    height: 0;
    /* background-color: red; */
    position: absolute;
    top: 10px;
    right: 30px;

    border-width: 10px 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;

}

.right::before {
    content: "";
    width: 0;
    height: 0;
    /* background-color: red; */
    position: absolute;
    top: 10px;
    left: 30px;

    border-width: 10px 10px 10px 0px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;

}

.right::after {
    left: -7px;
}